.contactPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPreview {
  display: flex;
  border: 3px solid #0047a6;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 0 5px 0;
  transition: 0.3s;
  max-height: 300px;
  max-width: 500px;
  align-items: center;
}

.contactPreviewName {
  font-size: 20px;
  font-weight: 400;
}

.contactPreviewName,
.contactPreviewMessage {
  margin: 0 0 5px 0;
}

.profilePicContainer {
  max-width: 150px; /* Limit the width of the container */
}
.profilePicContainer img {
  max-width: 100%; /* Ensures the image doesn't exceed its container */
  height: auto; /* Maintains aspect ratio */
}

.contactPreview a {
  text-decoration: none;
  color: black;
}

.contactDetailContainer button {
  margin: 10px 10px 0 10px;
}

.contactPreview a:hover {
  background-color: #0096c7;
}
