.contactPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPreview {
  border: 3px solid #0047a6;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 0 5px 0;
  transition: 0.3s;

  max-width: 500px;
}

.contactPreviewName {
  font-size: 20px;
  font-weight: 400;
}

.contactPreviewName,
.contactPreviewMessage {
  margin: 0 0 5px 0;
}

.contactPreview a {
  text-decoration: none;
  color: black;
  /* margin: 0 0 10px 0; */
}

.contactPreview a:hover {
  background-color: #0096c7;
}
